In [ ]:
'''
Introdução à Econometria - Uma abordagem moderna (Tradução da 6 edição norte-americana)
Autor: WOOLDRIDGE, J. M.
Editora: CENGAGE LEARNING

Cap. 2: Modelo de regressão simples (The Simple Regression Model)
Exemplo 2.8: Salário de CEOs e retornos sobre o patrimônio líquido
             (CEO SALARY AND RETURN ON EQUITY)
             
Arquivo com os dados: ceosal1.xls

Arquivo com dados em:
http://students.cengage.com.br/dashboard/private/livroView.jsf;jsessionid=95E9AD889A4A4B7ABBD2A5251F1E14BE?id=104577

Em caso de dúvidas ou problemas, solicitamos, por gentileza, entrar em contato pelo e-mail:
python.economia@gmail.com
'''

In [1]:
import pandas as pd
import statsmodels.formula.api as smf

In [2]:
df = pd.read_excel('ceosal1.xls',
                   header=None,
                   usecols=[0, 3],
                   names=['salary', 'roe'])

In [3]:
df.head()

   salary   roe
0    1095  14.1
1    1001  10.9
2    1122  23.5
3     578   5.9
4    1368  13.8

#### Comando sugeridos

#### Regressão por Mínimos Quadrados Ordinários (MQO ou OLS na sigla em inglês)

In [4]:
modelo = smf.ols(formula='salary ~ roe', data=df)
reg = modelo.fit()

In [5]:
n_observacoes = int(reg.nobs)
r_quadrado = round(reg.rsquared, 4)

print('Variável dependente: salary\n')
print(round(reg.params, 3))
print(f'\nn = {n_observacoes}, R2 = {r_quadrado}')

Variável dependente: salary

Intercept    963.191
roe           18.501
dtype: float64

n = 209, R2 = 0.0132

In [ ]:
'''
Reta de regressão de MQO (2.39)                 ou função de regressão amostral

salary_chapeu = 963.191 + 18.501 * roe
'''

In [6]:
# Obtemos o R-quadrado (já apresentado acima) com o atributo "rsquared"
reg.rsquared

0.0131886248141444

In [7]:
# Podemos arredondar o R-quadrado para quatro casas decimais com a função round()
round(reg.rsquared, 4)

0.0132