In [ ]:
'''
Introdução à Econometria - Uma abordagem moderna (Tradução da 6 edição norte-americana)
Autor: WOOLDRIDGE, J. M.
Editora: CENGAGE LEARNING

Cap. 2: Modelo de regressão simples (The Simple Regression Model)
Exemplo 2.7: Salário e educação
             (WAGE AND EDUCATION)
             
Arquivo com os dados: wage1.xls

Arquivo com dados em:
http://students.cengage.com.br/dashboard/private/livroView.jsf;jsessionid=95E9AD889A4A4B7ABBD2A5251F1E14BE?id=104577

Em caso de dúvidas ou problemas, solicitamos, por gentileza, entrar em contato pelo e-mail:
python.economia@gmail.com
'''

In [1]:
import pandas as pd
import statsmodels.formula.api as smf

In [2]:
df = pd.read_excel('wage1.xls',
                   header=None,
                   usecols=[0, 1],
                   names=['wage', 'educ'])

In [3]:
df.head()

   wage  educ
0  3.10    11
1  3.24    12
2  3.00    11
3  6.00     8
4  5.30    12

### Comandos sugeridos

#### Descrição básica dos dados

In [4]:
# Salário-hora médio na amostra arredondado para duas casas decimais
salario_medio = df['wage'].mean()
round(salario_medio, 2)

5.9

In [5]:
# educação formal média (medida em anos) na amostra arredondada para duas casas decimais
educacao_media = df['educ'].mean()
round(educacao_media, 2)

12.56

#### Regressão por Mínimos Quadrados Ordinários (MQO ou OLS na sigla em inglês)

In [6]:
# Regressão pelo Método de Mínimos Quadrados Ordinários (MQO ou OLS na sigla em inglês)
modelo = smf.ols('wage ~ educ', data=df)
reg = modelo.fit()   
reg.params

Intercept   -0.904852
educ         0.541359
dtype: float64

In [ ]:
'''
Reta de regressão de MQO (2.27)                 ou função de regressão amostral

wage_chapeu = -0.9049 + 0.5414 * educ
'''

In [7]:
# Inserindo a educação formal média na regressão de MQO acima obtemos o salário-hora previsto para educ = 12.56: USD 5.90
reg.predict({'educ': educacao_media})       # valor ajustado (salário-hora previsto em dólares de 1976)

0    5.896103
dtype: float64